<ul>
  <li>
    <a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  </li>
  <li>
    <a routerLink="./aboutus" routerLinkActive="active">About us</a>
  </li>
  <li>
    <a routerLink="./contactus" routerLinkActive="active">Contact us</a>
  </li>
  <li>
    <a routerLink="./products" routerLinkActive="active">Products</a>
  </li>   
  <li>
    <a routerLink="./services" routerLinkActive="active">Services</a>
  </li>
</ul>

<router-outlet></router-outlet>